body {
  margin: 0;
  background-color: #e8e9f1;
  font-family: 'Arial', sans-serif;
  padding: 10px;
}

.header {
  background-color: #1a1a2e;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 100%; /* Ensure the header takes full width */
  position: fixed; /* Keeps the header at the top */
  top: 0; /* Aligns header to the top of the page */
  left: 0;
  z-index: 1000; /* Ensure header is on top of other content */
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  height: 50px;
  margin-right: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20vw; /* Increased gap for more space between tabs */
  margin: 0;
  padding: 0;
  flex-grow: 2;
}


.nav-links li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  color: #f1f1f1;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  background-color: #0f3460;
  color: #e94560;
}

#login-button {
  background-color: #e94560;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease;
  max-width: 150px; /* Add a max-width */
  white-space: nowrap; /* Prevent text wrapping */
  box-sizing: border-box; /* Include padding in the element's width */
  position: absolute;
  right: 5rem;
}


#login-button:hover {
  background-color: #ff4757;
  box-shadow: 0px 4px 10px rgba(233, 69, 96, 0.3);
}


@media (max-width: 768px) {
  .header {
      flex-direction: column;
  }

  ul {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
  }
}

form {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: auto;
}

/* Checkbox and Icon Styling */
form i {
  font-size: 24px;
  margin-right: 8px;
  vertical-align: middle;
}

input[type="checkbox"] {
  margin-right: 15px;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Input Fields */
input[type="number"],
input[type="text"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Submit Button */
input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Label Styling */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Input Grouping */
form > * {
  margin-bottom: 15px;
}

li:hover .autocompleteImg {
  display: block;
}

.autocompleteImg {
  display: none;
  position: fixed;
  top: 100px;
  right: 40px;
}

#multi-select-container {
  position: relative;
  width: 300px;
  font-family: Arial, sans-serif;
}

#multi-select {
  display: none; /* Hide the original select tag */
}

.dropdown-display {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.dropdown-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-options li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-options li:hover {
  background-color: #e0e0e0;
}

.dropdown-options li.selected {
  background-color: #d4edda; /* Green to indicate selected */
  color: #155724;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 20px;
    align-items: center;
    justify-content: center; /* Centers horizontally */
    align-items: center;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 20px;
  align-items: center;
  justify-content: center; /* Centers horizontally */
  align-items: center;
}

.card {
    text-align: center;
}

.cover-img {
  width: 14rem;
  height: 10rem; 
  object-fit: cover;
  object-position: 25% 25%; 
  border: 2px solid #060000;
  border-radius: 4px;
  filter: drop-shadow(0.25rem 0.25rem 0.5rem);
}

.card a {
    display: block;
    margin-top: 10px;
    color: #0066cc;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

button, select {
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}

button:hover, select:hover {
    background-color: #f1f1f1;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

#sorter {
  flex-grow: 1; /* Allow the select to take up the remaining space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  flex-shrink: 0; /* Prevent the button from shrinking */
}

button:hover {
  background-color: #f1f1f1;
}

/* Use a modern, stylish font */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

/* Use a modern, stylish font */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

h1 {
  font-family: 'Arial'; /* Elegant, modern serif font */
  font-size: 3rem; /* Adjusted size to fit inside the box */
  font-weight: 700; /* Bold and strong */
  color: #1a1a2e; /* Dark, professional color */
  text-align: center; /* Centered heading */
  margin: auto; /* Spacing above and below */
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  line-height: 1.1; /* Tight line height for a more compact look */
  width: fit-content; /* Box width will adjust to content */
}

h1 span {
  color: #e94560; /* Accent color for emphasis */
  font-weight: 900; /* Stronger weight for emphasis */
}

/* Main Content Styling */
#content {
  padding-top: 70px;
  box-sizing: border-box;}

.search-container {
  text-align: left;
  margin-left: 40px;
  margin-top: 120px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #1a1a2e;
  margin-bottom: 20px;
  margin-top: 3rem;
}

.search-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.search-input {
  resize: none;
  width: 96%;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

.search-input:focus {
  border-color: #e94560;
  outline: none;
  box-shadow: 0 0 5px rgba(233, 69, 96, 0.5);
}

.autocomplete-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.autocomplete-list li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
}

.autocomplete-list li:hover {
  background-color: #f1f1f1;
}

/* Remove default margin and padding */
html, body {
  margin: 0;
  padding: 10px;
  background-color: #f2f2f7; /* Matches your page background */
}

#login, #signup {
  margin-top: 10vh;
}

.price {
  color: white;
  padding: 2px;
  border-radius: 5px;
  background-color: rgb(17, 50, 116);
  width: flex;
  margin-top: 2px;
}

#section {
  display: flex;
}

.mana-cost {
  display: inline-flex;
  width: fit-content;
  height: fit-content;
}

#card {
  width: 20rem;
}

#header-container {
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
}

h2 {
  margin-right: 1rem;
}

#card-data {
  padding: 1rem; /* Retain padding for inner spacing */
  width: 100%;
  margin: auto; /* Adjust horizontal margins */
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 0;
  border-radius: 0.5rem;
}


#card-stats {
  display: flex;
  font-size: 1.1rem;
  justify-content: space-between;
}

.ms {
  margin-right: 0.15rem;
}

#oracle-text {
  white-space: pre-line;
}

hr {
  border-color: black;
}

#type-line {
  font-size: 1.1rem;
}

#legality-container {
  font-size: 0.9rem;
  justify-content: space-between;
  display: flex;
  width: 40%
}

.legality {
  position: relative;
  right: 10rem;
}

#add-to-deck {
  background-color: #5686ba;
  height: 3rem;
  width: 60%;
  margin-right: 1rem;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center; /* Center content inside the button */
  justify-content: center;
  box-sizing: border-box; /* Ensure consistent dimensions */
}

#deck-adder {
  margin-top: 0.5rem;
}

.inline {
  margin-top: 0.5rem;
  display: flex;
  align-items: center; /* Align items vertically */
}

#quantity {
  height: 3rem; /* Match button height */
  padding: 0 10px; /* Adjust padding for consistent appearance */
  border-radius: 4px; /* Optional: to match button's style */
  border: 1px solid #ccc; /* Optional: for a clean look */
  font-size: 1rem; /* Ensure consistent font size */
  box-sizing: border-box; /* Include padding/border in dimensions */
  margin-bottom: 0;
  line-height: 1; /* Prevent vertical alignment issues */
}

#deckContainer {
  display: block;
  border-radius: 0.5rem;
  /* background-color: rgb(163, 163, 163); */
  padding: 1rem;
  margin-left: 5rem;
  margin-top: 1rem;
  width: 50rem;
}

.cardContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.name {
  margin-left: 0.25rem;
  justify-content: left;
}

.mana-cost-positioning {
  position: absolute;
  left: 35rem;
}

.price-positioning {
  display: flex;
  justify-content: right;
}

#header-price {
  margin-right: 0;
}

/* Alert styling from bootstrap */
.alert {
  position: fixed;
  width: 90%;
  float: middle;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  z-index: 1000; /* Ensure alerts are on top of other content */
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 4rem;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-primary hr {
  border-top-color: #9fcdff;
}

.alert-primary .alert-link {
  color: #002752;
}

.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.alert-secondary hr {
  border-top-color: #c8cbcf;
}

.alert-secondary .alert-link {
  color: #202326;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-success hr {
  border-top-color: #b1dfbb;
}

.alert-success .alert-link {
  color: #0b2e13;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-info hr {
  border-top-color: #abdde5;
}

.alert-info .alert-link {
  color: #062c33;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-warning hr {
  border-top-color: #ffe8a1;
}

.alert-warning .alert-link {
  color: #533f03;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-danger hr {
  border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
  color: #491217;
}

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.alert-light hr {
  border-top-color: #ececf6;
}

.alert-light .alert-link {
  color: #686868;
}

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

.alert-dark hr {
  border-top-color: #b9bbbe;
}

.alert-dark .alert-link {
  color: #040505;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  opacity: .75;
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}

#format-container {
  display: flex;
  width: fit-content;
}

#change-format {
  margin-left: 1rem;
}

#edit-image {
  padding-bottom: 1px;
}

#edit-image:hover {
  border-bottom:2px solid black;
}

#name-changer {
  font-size: 2.5rem;
  height: 3.5rem;
  resize: none;
  margin: auto;
  margin-top: 5rem;
  margin-right: 1rem;
}

#deck-name-container {
  display: flex;
  width: fit-content;
  margin: auto;
}

#submit-name {
  height: 4.7rem;
  margin: auto;
  margin-top: 5rem;
  background-color: #007bff;
  color: white;
  font-size: 1.5rem;
}

.error {
  color: rgb(149, 47, 47);
}

#deck-info {
  display: flex;
  justify-content: space-between;
}
  
.hover-img {
  display: none;
  position: fixed;
  top: 100px;
  right: 40px;
}

.name:hover .hover-img {
  display: block;
}

.flexbox {
  display: flex;
  margin-left: 0.7rem;
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
}

.type-header {
  padding-bottom: 1rem;
}

a {
  color:#004085;
  text-decoration: none;
}

a:visited {
  color:#004085;
}

#header-name {
  font-size: 2rem;
  font-weight: bold;
}

.header-mana-cost {
  font-size: 1rem;
}